@import url('https://fonts.googleapis.com/css?family=Fira+Sans|Open+Sans:300');

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #093145;
    color: #f2f3f4;
    padding: 40px;
}

h1,h2,h3,h4 {
    font-family: 'Fira Sans', sans-serif;
    color: #efd469;
}

h5 {
    color: #f58b4c;
}

h2 {
    margin-top: 60px;
}

a {
    color: #f58b4c;
    text-decoration: underline;
}

a:hover {
    color: #efd469;
}

h2 > a {
    color: #efd469;
}

h2 > a:hover {
    text-decoration: underline;
}

h1 {
    text-align: center;
}

.st {
    text-decoration: line-through;
}

.tuck {
    margin-left: 40px;
}

p {
  font-family: 'Open Sans', sans-serif;
}

dd {
    margin-left: 0;
    padding-left: 0;
    margin-bottom: 14px;
}

#nav {
    height: 40px;
}

#nav > span {
    padding-left: 10px;
    padding-right: 10px;
}
