.container {
  justify-content: flex-start | flex-end | center | space-between | space-around | space-evenly;
}

body {
   background-image: url("/Users/Home/Desktop/Awesome_Inc/class-notes/students/Philip_Devine/Untitled design.png");

}

.topcard {
  color: primary;

}

.header {
  color: primary;
  
}
